@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import "../../assets/scss/calendarStyle/calendar";
.app-calendar {
  .rbc-toolbar button:active:focus, .app-calendar .rbc-toolbar button.rbc-active:focus {
    outline: none;
  }
  .rbc-btn-group button, .rbc-btn-group button:active:focus {
    outline: none;
  }
  .rbc-active {
    outline: none;
  }
  table {
    border-collapse: collapse;
  }
}
.app-wrapper_blue {
  $app-primary: #2196f3;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
.app-wrapper_indigo {
  $app-primary: #3f51b5;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
.app-wrapper_cyan{
  $app-primary: #00bcd4;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
.app-wrapper_amber {
  $app-primary: #ffc107;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
.app-wrapper_pink {
  $app-primary: #e91e63;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
.app-wrapper_deep-purple {
  $app-primary: #673ab7;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
.app-wrapper_green {
  $app-primary: #4caf50;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
.app-wrapper_deep-orange {
  $app-primary: #ff5722;
  .rbc-calendar {
    a {
      color: $app-primary;
    }
  }

  .rbc-event {
    background-color: $app-primary;
  }

  .rbc-event.rbc-selected {
    background-color: darken($app-primary, 10%);
  }

  .rbc-slot-selection {
    background-color: rgba($app-primary, 0.7);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:focus {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }

  .rbc-toolbar button:hover {
    background-color: rgba($app-primary, 0.9);
    border-color: $app-primary;
  }
}
